.App {
  overflow: hidden;
}

.card-container {
  margin-top: 25%;
  padding-left: 8vw;
  width: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.single-card:last-child {
  padding-right: 8vw;
}
