.card-container {
  position: relative;
  margin: 25% 10vw;
}

.single-card {
  position: absolute;
}

/* The following CSS is for when we wanna display it as a horizontal scroll 
with one card at a time */

/* .App {
  overflow: hidden;
} 
 .card-container {
  margin-top: 25%;
  padding-left: 8vw;
  width: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.single-card:last-child {
  padding-right: 8vw;
} */
